/db.sqlite3
__pycache/*
*.py[cod]
/docdv3f/__pycache__/*
/docdv3f/migrations/__pycache__/*
/easydvf/__pycache__/*
/easydvf/migrations/__pycache__/*
/easydvf/recherche/__pycache__/*
/importdvf/__pycache__/*
/importdvf/creation_dvf/__pycache__/*
/importdvf/migrations/__pycache__/*
/indicateur/__pycache__/*
/indicateur/calcul/__pycache__/*
/indicateur/migrations/__pycache__/*
/indvf/__pycache__/*
/main/__pycache__/*
/main/migrations/__pycache__/*
/main/territoire/__pycache__/*
/main/templatetags/__pycache__/*
/tutodvf/__pycache__/*
/tutodvf/migrations/__pycache__/*
/.project
/.pydevproject
/.settings/
