{% extends "base_tutodvf.html" %}
{% load staticfiles %}
     
{% block contenu %}
<div class="page-header">
<h3>Sommaire</h3>
</div>

{% regroup fiches by theme as fiches_list %}

{% for fiche in fiches_list %}
    <div class="panel panel-default">
	    <div class="panel-heading">
		    <h3 class="panel-title"><i class="far fa-file-alt"></i> {{ fiche.grouper }}</h3>
	    </div>
	    <div class="panel-body">
	    	<table class="table table-striped" width = "100 %">
            	{% for item in fiche.list|dictsort:'numero' %}
			<tr>
				<td>{% if "Cas pratiques" in item.titre %}&nbsp;<i class="far fa-clipboard"></i>&nbsp;{% else %}<i class="fas fa-graduation-cap"></i>{% endif %} {{ item.numero }}</td>				
				<td width="85%"><a href="{{item.lien}}">{{ item.titre }}</a></td>								
			</tr>	
				{% endfor %}
			</table> 
	    </div>
	 </div>
{% endfor %}


{% endblock %}

