{% extends "base_easydvf.html" %}
{% load staticfiles %}

{% block contenu %}

<div id="recherche">
    <table id="tableSearchResults" class="table table-hover table-striped table-condensed">
        <thead>
            <tr>
                <th>#</th>
                <th>Id Mutation</th>
                <th>Code Service</th>
                <th>Référence Doc.</th>
                <th>Valeur Foncière (€)</th>
                <th>Surface batie (m2)</th>
                <th>Surface terrain (m2)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr id="mutation1" class="accordion-toggle" data-toggle="collapse" data-parent="#recherche" data-target=".mutation1_details">
                <td>1</td>
                <td>1548</td>
                <td>59CHROD</td>
                <td>45F458ET</td>
                <td>157 000</td>
                <td>105</td>
                <td>260</td>
                <td><i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
                </td>
            </tr>
            <tr>
                <td colspan="8" class="hiddenRow">
                    <div class="accordion-body collapse mutation1_details" id="accordion1">
                        <table>
                            <tr>
                                <td>Revealed item 1</td>
                            </tr>
                            <tr>
                                <td>Revealed item 2</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr id="mutation2" class="accordion-toggle" data-toggle="collapse" data-parent="#recherche" data-target=".mutation2_details">
                <td>1</td>
                <td>1548</td>
                <td>59CHROD</td>
                <td>45F458ET</td>
                <td>157 000</td>
                <td>105</td>
                <td>260</td>
                <td><i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
                </td>
            </tr>
            <tr>
                <td colspan="8" class="hiddenRow">
                    <div class="accordion-body collapse mutation2details" id="accordion2">
                        <table>
                            <tr>
                                <td>Revealed item 1</td>
                            </tr>
                            <tr>
                                <td>Revealed item 2</td>
                            </tr>
                            <tr>
                                <td>Revealed item 3</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr></tr>
        </tbody>
    </table>
</div>


{% endblock %}
