{% extends "base_easydvf.html" %}
{% load staticfiles %}

{% block contenu %}


<div class="panel panel-default">
    <div class="panel-heading">
	    <h3 class="panel-title"><i class="fa fa-search"></i> Territoire</h3>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label"><i class="fa fa-circle-o-notch fa-lg"></i> Département</label>
                <div class="col-sm-8">
                    <form role="Departement" method="post">
                        {% csrf_token %} 
                        <div class="form-group">
                            <div class = "col-sm-10">
                                <select class="form-control selecteur" name='departement' onChange="submit()">
                                    {% for departement in departements %}
                                    <option value="{{ departement.pk }}" {% if request.session.departement == departement.pk %}selected{% endif %}>{{ departement }}</option>
                                    {% endfor %}
			                    </select> 
                            </div>                            
                        </div>
                    </form>
                </div>                
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><i class="fa fa-map-signs fa-lg"></i> Epci</label>
                <div class="col-sm-8">
                    <form role="Epci" method="post" action="{% url 'easydvf:recherche_triee' tri=tri %}">
                        {% csrf_token %} 
                        <div class="form-group">
                            <div class = "col-sm-10">
                                <select class="form-control selecteur" name='epci'>
                                    {% for epci in epcis %}
                                    <option value="{{ epci.pk }}" {% if request.session.epci == epci.pk %}selected{% endif %}>{{ epci }}</option>
                                    {% endfor %}
			                    </select>
                            </div>
                            <div class = "col-sm-2">
		                        <button type="submit" class="btn btn-default" name="voir_epci"><i class="fa fa-search fa-lg"></i></button>
                            </div>                            
                        </div>
                    </form>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><i class="fa fa-building fa-lg"></i> Commune</label>
                <div class="col-sm-8">
                    <form role="Commune" method="post" action="{% url 'easydvf:recherche_triee' tri=tri %}">
                        {% csrf_token %} 
                        <div class="form-group">
                            <div class = "col-sm-10">
                                <select class="form-control selecteur" name='commune'>
                                    {% for commune in communes %}
                                    <option value="{{ commune.pk }}" {% if request.session.commune == commune.pk %}selected{% endif %}>{{ commune }}</option>
                                    {% endfor %}
			                    </select>
                            </div>
                            <div class = "col-sm-2">
		                        <button type="submit" class="btn btn-default" name="voir_commune"><i class="fa fa-search fa-lg"></i></button>
                            </div>                            
                        </div>
                    </form>
                </div>
            </div>            
        </div>
    </div>
</div>

{% if request.session.titre != '' %}

<div class="row page-header" id="resultats">
        <h3><i class="fa fa-search"></i> Résultats pour {{request.session.titre}}</h3>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
	    <h3 class="panel-title"><i class="fa fa-filter"></i> Filtre</h3>
    </div>
    <div class="panel-body">
	    <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label"><i class="fa fa-sitemap fa-lg"></i> Type de bien</label>
                <div class="col-sm-8">
                    <form role="Typologie" method="post" action="{% url 'easydvf:recherche_triee' tri=tri %}#resultats">
                        {% csrf_token %} 
                        <div class="form-group">
                            <div class = "col-sm-10">
                                <select class="form-control selecteur" name="typologie" onChange="submit()">
                                    {% for code, lib in typologies %}
                                    <option value="{{ code }}" {% if request.session.typologie == code %}selected{% endif %}>{{ lib }}</option>
                                    {% endfor %}
			                    </select> 
                            </div>                            
                        </div>
                    </form>
                </div>                
            </div>
    	</div>
    </div>
</div>


<div class="row">
	<div class ="col-sm-4 col-sm-offset-4 text-center">
		<ul class="pagination pagination-centered">
		    {% if mutations.has_previous %}
		        <li><a href="{% url 'easydvf:recherche_triee_page' tri=tri page='1' %}#resultats"><<</a></li>
		        <li><a href="{% url 'easydvf:recherche_triee_page' tri=tri page=mutations.previous_page_number %}#resultats"><</a></li>
		    {% endif %}
		
		    {% for i in mutations.paginator.page_range %}
		        {% if mutations.number == i %}<li class="active"><a href="{% url 'easydvf:recherche_triee_page' tri=tri page=i %}#resultats">{{i}}</a></li>{% endif %}
		    {% endfor %}
		
		    {% if mutations.has_next %}
		        <li><a href="{% url 'easydvf:recherche_triee_page' tri=tri page=mutations.next_page_number %}#resultats">></a></li>
		        <li><a href="{% url 'easydvf:recherche_triee_page' tri=tri page=mutations.paginator.num_pages %}#resultats">>></a></li>
		    {% endif %}
		</ul>
	</div>
</div>


<div id="recherche">
    <table id="tableSearchResults" class="table table-hover table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th class="text-center">
	                <a href="{% url 'easydvf:recherche_triee' tri='id_desc' %}#resultats"><i class="fa fa-sort-asc"></i></a>
	                 idmutation 
	                <a href="{% url 'easydvf:recherche_triee' tri='id' %}#resultats"><i class="fa fa-sort-desc"></i></a>
                </th>                
                <th class="text-center">
	                <a href="{% url 'easydvf:recherche_triee' tri='datemut_desc' %}#resultats"><i class="fa fa-sort-asc"></i></a>
	                 Date de mutation 
	                <a href="{% url 'easydvf:recherche_triee' tri='datemut' %}#resultats"><i class="fa fa-sort-desc"></i></a>
                </th>
                <th class="text-center">
	                <a href="{% url 'easydvf:recherche_triee' tri='valeurfonc_desc' %}#resultats"><i class="fa fa-sort-asc"></i></a>
	                 Valeur Foncière (€) 
	                <a href="{% url 'easydvf:recherche_triee' tri='valeurfonc' %}#resultats"><i class="fa fa-sort-desc"></i></a>
                </th>  
                <th class="text-center">
	                <a href="{% url 'easydvf:recherche_triee' tri='sbati_desc' %}#resultats"><i class="fa fa-sort-asc"></i></a>
	                 Surf. batie (m2) 
	                <a href="{% url 'easydvf:recherche_triee' tri='sbati' %}#resultats"><i class="fa fa-sort-desc"></i></a>
                </th>
                <th class="text-center">
	                <a href="{% url 'easydvf:recherche_triee' tri='nblocmut_desc' %}#resultats"><i class="fa fa-sort-asc"></i></a>
	                 Locaux vendus 
	                <a href="{% url 'easydvf:recherche_triee' tri='nblocmut' %}#resultats"><i class="fa fa-sort-desc"></i></a>
                </th>
                <th class="text-center">
	                <a href="{% url 'easydvf:recherche_triee' tri='sterr_desc' %}#resultats"><i class="fa fa-sort-asc"></i></a>
	                 Surf. terrain (m2) 
	                <a href="{% url 'easydvf:recherche_triee' tri='sterr' %}#resultats"><i class="fa fa-sort-desc"></i></a>
                </th>
                <th class="text-center">
	                <a href="{% url 'easydvf:recherche_triee' tri='nbparmut_desc' %}#resultats"><i class="fa fa-sort-asc"></i></a>
	                 Parcelles vendues 
	                <a href="{% url 'easydvf:recherche_triee' tri='nbparmut' %}#resultats"><i class="fa fa-sort-desc"></i></a>
                </th>          
            </tr>
        </thead>
        <tbody>
        {% for mutation in mutations %}
            <tr id="{{mutation.id}}" class="accordion-toggle mutation" data-toggle="collapse" data-parent="#recherche" data-target=".detail_{{mutation.id}}">
                <td>{{forloop.counter}}</td>
                <td class="text-center">{{mutation.id}}</td>                
                <td class="text-center">{{mutation.datemut}}</td>
                <td class="text-center">{{mutation.valeurfonc}}</td>
                <td class="text-center">{{mutation.sbati}}</td>
                <td class="text-center">{{mutation.nblocmut}}</td>
                <td class="text-center">{{mutation.sterr}}</td>
                <td class="text-center">{{mutation.nbparmut}}</td>
                <td><i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
                </td>
            </tr>
            <tr>
                <td colspan="9" class="hiddenRow">
                    <div class="accordion-body collapse detail_{{mutation.id}}" id="accordion2">                         
                    </div>
                </td>
            </tr>
        {% endfor %}
            <tr></tr>
        </tbody>
    </table>
</div>

{% endif %}

<script type="text/javascript">
// affichage du tableau détaillé de la mutation
$('.mutation').on("click", function() {
  var identifiant = this.id;
  $.ajax({
       url : '/recherche/detail/' + this.id,
       type : 'GET',
       dataType : 'html',
       success : function(code_html, statut){ // code_html contient le HTML renvoyé           
		 $('.detail_' + identifiant).html(code_html);
       }
    });
});

</script>
{% endblock %}
