{% load general_extras %}

<div class="row page-header" id="resultats">
        <h3><i class="fa fa-search"></i> Résultats pour {{request.session.titre}}
        <small><a href="{% url 'easydvf:mutations_csv' %}" alt="Export CSV" title="Export CSV">	
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-1x"></i>
				<i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
			</span>
		</a></small></h3>
</div>

<div class="panel panel-default">
    
    <div class="panel-heading">
	    <h3 class="panel-title"><i class="fa fa-filter"></i> Filtre</h3>
    </div>
    
    <div class="panel-body">
    
	    <div class="form-horizontal">
            
            <div class="form-group">
                <label class="col-sm-2 control-label"><i class="fa fa-sitemap fa-lg"></i> Type de bien</label>
                <div class="col-sm-8">
                    <form role="Typologie" id="form_typo">
                        {% csrf_token %} 
                        <div class="form-group">
                            <div class = "col-sm-10">
                                <select class="form-control selecteur" name="typologie" id="select_typo">
                                    {% for code, lib in typologies %}
                                    <option value="{{ code }}" {% if request.session.parametres_filtre.typologie == code %}selected{% endif %}>{{ lib }}</option>
                                    {% endfor %}
			                    </select> 
                            </div>                            
                        </div>
                    </form>
                </div>                
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label"><i class="fa fa-calendar-minus-o"></i> Année min.</label>
                <div class="col-sm-2">
                    <form role="Annee_minimale" id="form_annee_min">
                        {% csrf_token %} 
                        <div class="form-group">
                            <div class = "col-sm-12">
                                <select class="form-control selecteur" name="annee_min" id="select_annee_min">
                                    {% for an in annees %}
                                    <option value="{{ an }}" {% if request.session.parametres_filtre.annee_min == an %}selected{% endif %}>{{ an }}</option>
                                    {% endfor %}
			                    </select> 
                            </div>                            
                        </div>
                    </form>
                </div>
				
				<label class="col-sm-2 control-label"><i class="fa fa-calendar-plus-o"></i> Année max.</label>
                <div class="col-sm-2">
                    <form role="Annee_maximale" id="form_annee_max">
                        {% csrf_token %} 
                        <div class="form-group">
                            <div class = "col-sm-12">
                                <select class="form-control selecteur" name="annee_max" id="select_annee_max">
                                    {% for an in annees %}
                                    <option value="{{ an }}" {% if request.session.parametres_filtre.annee_max == an %}selected{% endif %}>{{ an }}</option>
                                    {% endfor %}
			                    </select> 
                            </div>                            
                        </div>
                    </form>
                </div>               
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label"><i class="fa fa-minus-circle"></i> Valeur min.</label>
                <div class="col-sm-2">
                    <form role="Valeur_minimale" id="form_valeur_min">
                        {% csrf_token %} 
                        <div class="form-group">
                            <div class = "col-sm-12">
                                <input class="form-control" name="valeur_min" id="input_valeur_min" type="text" value="{{ request.session.parametres_filtre.valeur_min|separateur_millier }}"></input>
                            </div>                            
                        </div>
                    </form>
                </div>
				
				<label class="col-sm-2 control-label"><i class="fa fa-plus-circle"></i> Valeur max.</label>
                <div class="col-sm-2">
                    <form role="Valeur_maximale" id="form_valeur_max">
                        {% csrf_token %} 
                        <div class="form-group">
                            <div class = "col-sm-12">
                                <input class="form-control" name="valeur_max" id="input_valeur_max" type="text" value="{{ request.session.parametres_filtre.valeur_max|separateur_millier }}"></input>
                            </div>                            
                        </div>
                    </form>
                </div>               
            </div>
            
                       
    	</div>
    </div>
</div>


<div class="row">
	<div class ="col-sm-4 col-sm-offset-4 text-center">
		<ul class="pagination pagination-centered">
		    {% if mutations.has_previous %}
		        <li><a><<</a></li>
		        <li><a><</a></li>
		    {% endif %}	
		        <li class="active"><a>{{mutations.number}}</a></li>		
		    {% if mutations.has_next %}
		        <li><a>></a></li>
		        <li><a>>></a></li>
		    {% endif %}
		</ul>
	</div>
</div>


<div id="recherche">
    <table id="tableSearchResults" class="table table-hover table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Type</th>
                <th class="text-center">
	                <i class="fa fa-sort-asc" tri="id"></i> id <i class="fa fa-sort-desc" tri="id_desc"></i>
                </th>                
                <th class="text-center">
	                <i class="fa fa-sort-asc" tri="datemut"></i> Date de mutation <i class="fa fa-sort-desc" tri="datemut_desc"></i>
                </th>
                <th class="text-center">
	                <i class="fa fa-sort-asc" tri="valeurfonc"></i> Valeur Foncière (€) <i class="fa fa-sort-desc" tri="valeurfonc_desc"></i>
                </th>  
                <th class="text-center">
	                <i class="fa fa-sort-asc" tri="sbati"></i> Surf. batie (m2) <i class="fa fa-sort-desc" tri="sbati_desc"></i>
	           </th>
                <th class="text-center">
	                <i class="fa fa-sort-asc" tri="nblocmut"></i> Locaux vendus <i class="fa fa-sort-desc" tri="nblocmut_desc"></i>
                </th>
                <th class="text-center">
	                <i class="fa fa-sort-asc" tri="sterr"></i> Surf. terrain (m2) <i class="fa fa-sort-desc" tri="sterr_desc"></i>
                </th>
                <th class="text-center">
	                <i class="fa fa-sort-asc" tri="nbparmut"></i> Parcelles vendues <i class="fa fa-sort-desc" tri="nbparmut_desc"></i>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for mutation in mutations %}
            <tr id="{{mutation.id}}" class="accordion-toggle mutation" data-toggle="collapse" data-parent="#recherche" data-target=".detail_{{mutation.id}}">
                <td>{{forloop.counter}}</td>
                <td>{{mutation.libtypbien}}</td>
                <td class="text-center">{{mutation.id}}</td>                
                <td class="text-center">{{mutation.datemut}}</td>
                <td class="text-center">{{mutation.valeurfonc|separateur_millier}}</td>
                <td class="text-center">{{mutation.sbati|separateur_millier}}</td>
                <td class="text-center">{{mutation.nblocmut|separateur_millier}}</td>
                <td class="text-center">{{mutation.sterr|separateur_millier}}</td>
                <td class="text-center">{{mutation.nbparmut|separateur_millier}}</td>
                <td><i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
                </td>
            </tr>
            <tr>
                <td colspan="10" class="hiddenRow">
                    <div class="accordion-body collapse detail_{{mutation.id}}" id="accordion2">                         
                    </div>
                </td>
            </tr>
        {% endfor %}
            <tr></tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">

$('form input').keydown(function (e) {
    if (e.keyCode == 13) {
        e.preventDefault();
        return false;
    }
});

$('[class*="fa-sort"]').on("click",function() {
  var tri = $(this).attr('tri');  
  $.ajax({
       url : '/recherche/modification_affichage_table/' + tri + '/1',
       type : 'GET',
       dataType : 'html',
       success : function(code_html, statut){       
		 $('#tableau_mutations').html(code_html);
       }
    });
});

$('li').on("click", function() {

  {% if mutations.has_previous %}
    if ($(this).text() == '<<') page = '1';
  	if ($(this).text() == '<') page = {{mutations.previous_page_number}};  
  {% endif %}
    if ($(this).text() == '{{mutations.number}}') page = {{mutations.number}};
  {% if mutations.has_next %}
    if ($(this).text() == '>') page = {{mutations.next_page_number}};
  	if ($(this).text() == '>>') page = {{mutations.paginator.num_pages}};
  {% endif %}
  
  $.ajax({
       url : '/recherche/modification_affichage_table/{{tri}}/' + page,
       type : 'GET',
       dataType : 'html',
       success : function(code_html, statut){       
		 $('#tableau_mutations').html(code_html);
       }
    });
});

// changements sur les filtres
function recuperer_donnees_filtrees(form){
	$.ajax({
	       url : '/recherche/modification_affichage_table/{{tri}}/1',
	       type : 'POST',
	       dataType : 'html',
	       data : $(form).serialize(),
	       success : function(code_html, statut){       
			 $('#tableau_mutations').html(code_html);
	       }
	    });	
}

$('#select_typo').on("change", function() {
	recuperer_donnees_filtrees('#form_typo');
});
$('#select_annee_min').on("change", function() {
	recuperer_donnees_filtrees('#form_annee_min');
});
$('#select_annee_max').on("change", function() {
	recuperer_donnees_filtrees('#form_annee_max');
});
$('#input_valeur_min').on("change", function() {
	recuperer_donnees_filtrees('#form_valeur_min');
});
$('#input_valeur_max').on("change", function() {
	recuperer_donnees_filtrees('#form_valeur_max');
});

// affichage du tableau détaillé de la mutation
$('.mutation').on("click", function() {
  var identifiant = this.id;
  $.ajax({
       url : '/recherche/detail/' + this.id,
       type : 'GET',
       dataType : 'html',
       success : function(code_html, statut){           
		 $('.detail_' + identifiant).html(code_html);
       }
    });
});

</script>