{% extends "base_geo.html" %}
{% load staticfiles %}
 
{% block contenu %}

<link rel="stylesheet" href="http://openlayers.org/en/v3.17.1/css/ol.css" type="text/css">  
<script src="http://openlayers.org/en/v3.17.1/build/ol.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.14/proj4.js"></script>
    
<div id="map" class="map"></div>
<div id="info_mutation" class="info-mutation"></div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><i class="fa fa-search"></i> Détail</h3>
	</div>
	<div class="panel-body">
		<div id="tableau_mutation">Aucune mutation selectionnée.</div>
	</div>
</div>

<script src="{% static 'ol/style.js' %}"></script>
<script>
//définition repère Lambert93
proj4.defs("EPSG:2154","+proj=lcc +lat_1=49 +lat_2=44 +lat_0=46.5 +lon_0=3 +x_0=700000 +y_0=6600000 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs");

//fonction de définition de source
function sourceGeometrie(champgeom){
	source = new ol.source.Vector({
	    format: new ol.format.GeoJSON(),
	    strategy: ol.loadingstrategy.bbox,
	    url: function(extent, resolution, projection){
	    	source.clear();
	    	return '/geo/requete/'+ champgeom +'/' + extent.join('/');}
	});
	return source;
};

// définition des couches geompar, geomparmut, geomlocmut
var geomparLayer = new ol.layer.Vector({
    source: sourceGeometrie('geompar'),
    style: fct_styleParcellaire,
});
var geomparmutLayer = new ol.layer.Vector({
    source: sourceGeometrie('geomparmut'),
    style: fct_styleParcelles,
});
var geomlocmutLayer = new ol.layer.Vector({
    source: sourceGeometrie('geomlocmut'),
    style: fct_styleLocaux
});

// définition de la carte
var map = new ol.Map({
	layers: [
	         new ol.layer.Tile({
	        	 source: new ol.source.OSM()
	         }),
	         geomparLayer,
	         geomparmutLayer,
	         geomlocmutLayer,
	         ],
	         target: 'map',
	         controls: ol.control.defaults({
	        	 attributionOptions: /** @type {olx.control.AttributionOptions} */ ({
	        		 collapsible: false
	        	 })
	         }),
	         view: new ol.View({
	        	 projection: 'EPSG:2154',
	        	 center: [704075, 7059437],
	        	 zoom: 15
	         })
});
map.addControl(new ol.control.ZoomSlider())

// selecteur sur couche geompar
var selectionParcelle = new ol.interaction.Select({
	condition: ol.events.condition.click,
	multi: true,
	style: function(feature, res) { 
		return new ol.style.Style({
			stroke: new ol.style.Stroke({
				color: 'red',
				lineDash: [4],
				width: 2
			}),
			fill: new ol.style.Fill({
				color: 'rgba(255, 0, 0, 0.4)'
			})
		}); },
	layers: [geomparLayer]
});
map.addInteraction(selectionParcelle);

// Affichage informations sur la sélection 
var entites_selectionnees = selectionParcelle.getFeatures()
entites_selectionnees.on('add', affichage_infos_mutations);
var info = new ol.Overlay({
	element: document.getElementById('info_mutation'),
	positioning: 'bottom-center'
});

function affichage_infos_mutations(){
	var entites = selectionParcelle.getFeatures();
	var entite0 = entites.getArray()[0];
	var coord = (entite0.getGeometry().getCoordinates())[0][0];
	var element = info.getElement();
	var txt_info = '';
	entites.forEach(function(entite){
		txt_info += '<p>' + entite.get('libtypbien') +
		'<br/>Valeur : ' + entite.get('valeurfonc') + ' €' +
		'<br/> Date : ' + entite.get('datemut') +
		'<br/> Bati : ' + entite.get('sbati') + 'm2 (' + entite.get('nblocmut') + ' loc.)' +
		'<br/> Terrain : ' + entite.get('sterr') + 'm2 (' + entite.get('nbparmut') + ' parc.)' + '</p>';
	})
	element.innerHTML = txt_info;
	info.setPosition(coord);
	map.addOverlay(info);
	$(element).show();
	
	$.ajax({
       	url : '/geo/detail/' + entite0.get('idmutation'),
       	type : 'GET',
       	dataType : 'html',
       	success : function(code_html, statut){        
		 $('#tableau_mutation').html(code_html);
       }
    });
}

map.on('click', function(event) {          
	var element = info.getElement();
	if ($(element).is(":visible")) {
		$(element).hide();
	}
	$('#tableau_mutation').html('Aucune mutation selectionnée.');
});

</script>

{% endblock %}



