{% extends "base_docdv3f.html" %}
{% load staticfiles %}

{% block contenu %}

<div class="page-header">
<h3>Tables</small></h3>
</div>

{% for groupe_table in tables %}
<div class="panel panel-default">
    <div class="panel-heading">
	    <h3 class="panel-title"><i class="fa fa-table"></i> {{groupe_table.nom}}</h3>
    </div>
    <div class="panel-body">


	<table class="table table-striped" width = "100 %">
		{% for table in groupe_table.desc_table %}
		<tr>
			{% for nom, description in table.items %}
			<td width="20%"><a href = "{% url 'docdv3f:doc_table' nom %}">{{nom}}</a></td>
			<td>{{description}}</td>
			{% endfor %}
		</tr>	
		{% endfor %}
	</table> 
	</div>
</div>	

{% endfor %} 

{% endblock %} 