{% extends "base_docdv3f.html" %}
{% load staticfiles %}

{% block contenu %}

<div class="page-header">
<h3>Tables</h3>
</div>

    {% if not mode_internet %}
    <div class="alert alert-success" role="alert">
	   Pour obtenir la documentation la plus à jour, cliquez <a href="http://doc-datafoncier.cerema.fr/dv3f/doc" target="_blank">ici</a>.
    </div>
    {% endif %}

{% for groupe_table in tables %}
<div class="panel panel-default">
    <div class="panel-heading">
	    <h3 class="panel-title"><i class="fa fa-table"></i> {{groupe_table.nom}}</h3>
    </div>
    <div class="panel-body">


	<table class="table table-striped" width = "100 %">
		{% for table in groupe_table.desc_table %}
		<tr>
			{% for nom, description in table.items %}
			<td width="20%" style="vertical-align: middle;"><a href="{% url 'docdv3f:doc_table' nom %}">{{nom}}</a></td>
			<td style="vertical-align: middle;">{{description}}</td>
			<td width="5%">
				<a href="{% url 'docdv3f:doc_table_csv' nom %}">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-1x"></i>
						<i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</td>
			{% endfor %}
		</tr>	
		{% endfor %}
	</table> 
	</div>
</div>	

{% endfor %} 

{% endblock %} 