{% extends "base_docdv3f.html" %}
{% load staticfiles %}

{% block contenu %}

<div class="page-header">
	<h3>Résultats<small> {{mots_clefs}}</small></a></h3>
</div>

{% if variables|length > 0 %}

{% for variable in variables %}
	<div class="panel panel-default">
	    <div class="panel-heading">
		    <h3 class="panel-title">
		    	<i class="fa fa-star-o"></i> <a href="{{variable.url}}">{{variable.nom}}</a> (<a href="{{variable.url_table}}"><i class="fa fa-table"></i> {{variable.table_associee}}</a>)
		    </h3>
	    </div>
	    <div class="panel-body">
	    <p>{{variable.type_fr}} - {{variable.position}}e position - modèle {{variable.modele}}</p>
	    <p>{{variable.description_simplifiee}}</p>		
		</div>
	</div>
{% endfor %}

{% else %}

<h4>Aucun résultat trouvé pour {{mots_clefs}}.</h4>

{% endif %}

{% endblock %} 