{% extends "base_indicateur.html" %}
{% load staticfiles %}

{% block contenu %}

<div class="panel panel-default">

    <div class="panel-heading">
	    <h3 class="panel-title"><i class="fa fa-search"></i> Territoire</h3>
    </div>
    <div class="panel-body">


        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label"><i class="fa fa-circle-o-notch fa-lg"></i> Département</label>
                <div class="col-sm-8">
                    <form role="Departement" method="post">
                        {% csrf_token %} 
                        <div class="form-group">
                            <div class = "col-sm-10">
                                <select class="form-control selecteur" name='departement' onChange="submit()">
                                    {% for departement in departements %}
                                    <option value="{{ departement.pk }}" {% if request.session.departement == departement.pk %}selected{% endif %}>{{ departement }}</option>
                                    {% endfor %}
			                    </select> 
                            </div>
                            <div class = "col-sm-2">
		                        <button type="submit" class="btn btn-default" name="voir_departement"><i class="fa fa-search fa-lg"></i></button>
		                        <button type="submit" class="btn btn-default" name="ajout_departement"><i class="fa fa-cart-plus fa-lg"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class ="col-sm-2">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configuration <span class="caret"></span></a>
                            <ul class="dropdown-menu">
			                    <li><a href="/creation_territoire">Territoires personnalisés...</a></li>
			                    <li role="separator" class="divider"></li>
			                    <li><a href="{% url 'indicateur:configuration_indicateur' %}">Indicateurs...</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><i class="fa fa-map-signs fa-lg"></i> Epci</label>
                <div class="col-sm-8">
                    <form role="Epci" method="post">
                        {% csrf_token %} 
                        <div class="form-group">
                            <div class = "col-sm-10">
                                <select class="form-control selecteur" name='epci'>
                                    {% for epci in epcis %}
                                    <option value="{{ epci.pk }}" {% if request.session.epci == epci.pk %}selected{% endif %}>{{ epci }}</option>
                                    {% endfor %}
			                    </select>
                            </div>
                            <div class = "col-sm-2">
		                        <button type="submit" class="btn btn-default" name="voir_epci"><i class="fa fa-search fa-lg"></i></button>
		                        <button type="submit" class="btn btn-default" name="ajout_epci"><i class="fa fa-cart-plus fa-lg"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><i class="fa fa-building fa-lg"></i> Commune</label>
                <div class="col-sm-8">
                    <form role="Commune" method="post">
                        {% csrf_token %} 
                        <div class="form-group">
                            <div class = "col-sm-10">
                                <select class="form-control selecteur" name='commune'>
                                    {% for commune in communes %}
                                    <option value="{{ commune.pk }}" {% if request.session.commune == commune.pk %}selected{% endif %}>{{ commune }}</option>
                                    {% endfor %}
			                    </select>
                            </div>
                            <div class = "col-sm-2">
		                        <button type="submit" class="btn btn-default" name="voir_commune"><i class="fa fa-search fa-lg"></i></button>
		                        <button type="submit" class="btn btn-default" name="ajout_commune"><i class="fa fa-cart-plus fa-lg"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>

</div>


{% if request.session.titre != '' %}

<div class="row page-header" id="resultats">
        <h3><i class="fa fa-search"></i> Résultats pour {{request.session.titre|safe}}</h3>
</div>

{% for i in indicateursDVF %}
    <div class="panel panel-default">

        <div class="panel-heading">
	        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> {{i.nom}}</h3>
        </div>
        <div class="panel-body">
            <div class = "col-xs-12 col-sm-6 vcenter">
                <figure style="width: 480px; height: 250px;" id="{{i.idgraph}}"></figure>
            </div><!--
            --><div class = "col-xs-12 col-sm-6 vcenter">
                {{i.tableau|safe}}
            </div>
        </div>
    </div>
		  <script>
	   	  var data = {{i.graph|safe}};
    	  var chart = new xChart('{{i.type_graph}}', data, '#{{i.idgraph}}');
		  </script>
{% endfor %}

{% endif %}

{% endblock %}
