{% extends "base_import.html" %}
{% load staticfiles %}
 
{% block contenu %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Paramètrage de la base de données</h3>
        </div>
        <div class="panel-body">
            {% if formulaire.non_field_errors %}
            {% for error in formulaire.non_field_errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>            
            {% endfor %}
            {% endif %}
            <form class="form-horizontal" id="form_config" action="{% url 'import:etape_import' etape  %}" method="post">
                {% csrf_token %} 
                {% for field in formulaire %}
                 <div class="form-group">
                    <label for="{{field.name}}" class="col-sm-2 control-label">{{field.label_tag}}</label>
                    <div class="col-sm-10">
                        {{field}}
                        {% if field.errors %}
                        <div class="alert alert-danger" role="alert">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                  {% endfor %}
                 <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Importer les données</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="panel panel-default">       
        <div class="panel-body">
        	<p><i> 
        	(1) - Cette fonctionnalité récupère les données du PCI vecteur disponible sur data.gouv.fr. Il est donc nécessaire de disposer
        	d'un accès internet et de définir le proxy éventuel d'accès.   
			</i></p>
			<p><i>
			(2) - En cochant la case, tous les schémas DVF+ départementaux existants seront supprimés de la base de données. Dans le 
			cas inverse, ce sont uniquement les schémas départementaux liés aux données à intégrer qui seront écrasés, les autres seront
			conservés.
			</i></p>            
        </div>
    </div>
{% endblock %}
