.espace-titre {
    padding-top:45px;
}

.espace-pied {
    padding-top:20px;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.image-application {
    max-width:200px;
    max-height:200px;
}

.fichier > input {
    display:none;
}

.color0-indvf {
 color: #3880aa;
}

.color1-indvf {
 color: #4da944;
}

.color2-indvf {
 color: #f26522;
}

.color3-indvf {
 color: #c6080d;
}

.color4-indvf {
 color: #672d8b;
}

.color5-indvf {
 color: #ce1797;
}

.color6-indvf {
 color: #d9ce00;
}

.color7-indvf {
 color: #754c24;
}

.color8-indvf {
 color: #2eb9b4;
}

.color9-indvf {
 color: #0e2e42;
}

.tuto {
 padding-top: 30px;
}

.tuto-style > h2, h3, h4, h5, h6 {
padding : 0px;
margin: 20px 0px 10px;
}

.tuto-style > h2 {
border-bottom: 1px solid #CCC;
font-size: 24px;
}

.tuto-style > h3 {
font-size: 18px;
font-weight:bold;
}

.p-center {
text-align:center;
}