{% extends "indicateur_v2/base_indicateur.html" %}
{% load staticfiles %}

{% block contenu %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">{{ message|safe }}</div>
    {% endfor %}
{% endif %}


<div class="panel panel-default">

    <div class="panel-heading">
	    <h3 class="panel-title"><i class="fas fa-search"></i> Territoire</h3>
    </div>
 
    <div class="panel-body">


        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label"><i class="far fa-compass fa-lg"></i> Département</label>
                <div class="col-sm-8">
                    <form role="Departement" method="post">
                        {% csrf_token %} 
                        <div class="form-group">
                            <div class = "col-sm-10">
                                <select class="form-control selecteur" id="departement" name="departement" onChange="submit()">
                                    {% for departement in contexte_indicateur.departements %}
                                    <option value="{{ departement.pk }}" {% if request.session.departement == departement.pk %}selected{% endif %}>{{ departement }}</option>
                                    {% endfor %}
			                    </select> 
                            </div>
                            <div class = "col-sm-2">
		                        <button type="submit" class="btn btn-default" name="voir_departement" alt="Voir ce territoire" title="Voir ce territoire"><i class="fa fa-search fa-lg"></i></button>
		                        <button type="submit" class="btn btn-default" name="ajout_departement" alt="Ajouter ce territoire (mode comparaison)" title="Ajouter ce territoire (mode comparaison)"><i class="fa fa-cart-plus fa-lg"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><i class="fas fa-map-signs fa-lg"></i> Epci</label>
                <div class="col-sm-8">
                    <form role="Epci" method="post">
                        {% csrf_token %} 
                        <div class="form-group">
                            <div class = "col-sm-10">
                                <select class="form-control selecteur" name='epci'>
                                	<option value="0">Sélectionner un EPCI...</option>
                                    {% for epci in contexte_indicateur.epcis %}
                                    <option value="{{ epci.pk }}" {% if request.session.epci == epci.pk %}selected{% endif %}>{{ epci }}</option>
                                    {% endfor %}
			                    </select>
                            </div>
                            <div class = "col-sm-2">
		                        <button type="submit" class="btn btn-default" name="voir_epci" alt="Voir ce territoire" title="Voir ce territoire"><i class="fa fa-search fa-lg"></i></button>
		                        <button type="submit" class="btn btn-default" name="ajout_epci" alt="Ajouter ce territoire (mode comparaison)" title="Ajouter ce territoire (mode comparaison)"><i class="fa fa-cart-plus fa-lg"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><i class="fas fa-map-marker fa-lg"></i> Commune</label>
                <div class="col-sm-8">
                    <form role="Commune" method="post">
                        {% csrf_token %} 
                        <div class="form-group">
                            <div class = "col-sm-10">
                                <select class="form-control selecteur" name='commune'>
                                	<option value="0">Sélectionner une commune...</option>
                                	{% for commune in contexte_indicateur.communes %}
                                    <option value="{{ commune.pk }}" {% if request.session.commune == commune.pk %}selected{% endif %}>{{ commune }}</option>
                                    {% endfor %}
			                    </select>
                            </div>
                            <div class = "col-sm-2">
		                        <button type="submit" class="btn btn-default" name="voir_commune" alt="Voir ce territoire" title="Voir ce territoire"><i class="fa fa-search fa-lg"></i></button>
		                        <button type="submit" class="btn btn-default" name="ajout_commune" alt="Ajouter ce territoire (mode comparaison)" title="Ajouter ce territoire (mode comparaison)"><i class="fa fa-cart-plus fa-lg"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>

</div>

<div class="panel panel-default">

    <div class="panel-heading">
	    <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Indicateurs</h3>
    </div>
 
    <div class="panel-body">
    
    <p><div class="alert alert-success" role="alert"><i class="fas fa-info-circle" aria-hidden="true"></i>
    Différents indicateurs sont proposés (dénombrement, médiane de prix, etc.) sur des périodes annuelles ou pluriannuelles (avec choix de l'intervalle temporel). 
    Pour observer au plus juste les marchés fonciers et immobiliers, il est conseillé de regarder un segment précis du marché.</p>
	Les critères suivants sont proposés :
	<ul>
    	<li>une typologie de bien,</li>
		<li>l’évincement possible de certaines mutations (DV3F uniquement),</li>
		<li>le devenir du bien après la vente ou l'usage recherché (DV3F uniquement)</li>
	</ul>
	   
    </div>
    
    <div class="row">
    
    <div class="col-sm-4">
	<label class="control-label"><i class="fa fa-bar-chart fa-lg"></i></label>
	<select class="selectpicker" name="selection-indicateur" multiple>
		<optgroup label="Indicateurs quantitatifs">
		    {% for type in types_indicateur.Quantitatif %}
			<option value="{{type.0}}"{% if type.0 in contexte_indicateur.types_indicateur %} selected{% endif %}>{{type.1}}</option>
		    {% endfor %}
		 </optgroup>
		<optgroup label="Indicateurs de prix">
			{% for type in types_indicateur.Prix %}
			<option value="{{type.0}}"{% if type.0 in contexte_indicateur.types_indicateur %} selected{% endif %}>{{type.1}}</option>
		    {% endfor %}
		 </optgroup>
		 <optgroup label="Indicateurs de prix au m2 de bâti (pour les logements)">
			{% for type in types_indicateur.Prix_m2_bati %}
			<option value="{{type.0}}"{% if type.0 in contexte_indicateur.types_indicateur %} selected{% endif %}>{{type.1}}</option>
		    {% endfor %}
		 </optgroup>
		  <optgroup label="Indicateurs de prix au m2 de terrain (pour les terrains nus)">
			{% for type in types_indicateur.Prix_m2_terr %}
			<option value="{{type.0}}"{% if type.0 in contexte_indicateur.types_indicateur %} selected{% endif %}>{{type.1}}</option>
		    {% endfor %}
		 </optgroup>
		 <optgroup label="Indicateurs de surface">
			{% for type in types_indicateur.Surface %}
			<option value="{{type.0}}"{% if type.0 in contexte_indicateur.types_indicateur %} selected{% endif %}>{{type.1}}</option>
		    {% endfor %}
		 </optgroup>
	</select>
	
	<button class="btn" id="indicateur-deselect-all" alt="Déselectionner tout" title="Déselectionner tout">
		<i class="fas fa-times"></i>
	</button>	
	<button class="btn" id="indicateur-select-all" alt="Sélectionner tout" title="Sélectionner tout">
		<i class="fas fa-check"></i>
	</button>
	
	</div>
	
	<div class="col-sm-4">
	<label class="control-label"><i class="far fa-calendar-alt fa-lg"></i></label>
	<select class="selectpicker" name="selection-annee">
			<option value="ma"{% if contexte_indicateur.periodicite == 'ma' %} selected{% endif %}>Multi-année</option>
			<option value="a"{% if contexte_indicateur.periodicite == 'a' %} selected{% endif %}>Annuel</option>
		    
	</select>
	</div>
	
	<div class="col-sm-4">
	<label class="control-label"><i class="far fa-calendar-alt fa-lg"></i></label>
	<select class="selectpicker" name="selection-an-min-max" multiple>
		<optgroup label="Année min." data-max-options="1">
		{% for annee in annees %}
			<option value="{{annee}}"{% if contexte_indicateur.an_min_max.0 == annee %} selected{% endif %}>{{annee}}</option>
		{% endfor %}
		</optgroup>
		<optgroup label="Année max." data-max-options="1">
		{% for annee in annees %}
			<option value="{{annee}}"{% if contexte_indicateur.an_min_max.1 == annee %} selected{% endif %}>{{annee}}</option>
		{% endfor %}
		</optgroup>        
	</select>
	</div>
        
	</div>
	
	<div style="margin: 20px;"></div>
	
	<div class="row">
	
	<div class="col-sm-4">
    	<label class="control-label"><i class="fa fa-home fa-lg"></i></label>
		<select class="selectpicker" name="selection-typologie" multiple>
			<optgroup label="Niveau 0">
				{% for type in typologie.Niv0 %}
				<option value="{{type.0}}"{% if type.0 in contexte_indicateur.typologies %} selected{% endif %}>{{type.1}}</option>
				{% endfor %}
			</optgroup>
			<optgroup label="Niveau 1">
			    {% for type in typologie.Niv1 %}
			    <option value="{{type.0}}"{% if type.0 in contexte_indicateur.typologies %} selected{% endif %}>{{type.1}}</option>
			    {% endfor %}
			 </optgroup>
			 <optgroup label="Niveau 2">
			    {% for type in typologie.Niv2 %}
			    <option value="{{type.0}}"{% if type.0 in contexte_indicateur.typologies %} selected{% endif %}>{{type.1}}</option>
			    {% endfor %}
			 </optgroup>
			 <optgroup label="Niveau 3">
			    {% for type in typologie.Niv3 %}
			    <option value="{{type.0}}"{% if type.0 in contexte_indicateur.typologies %} selected{% endif %}>{{type.1}}</option>
			    {% endfor %}
			 </optgroup>
			 <optgroup label="Niveau 4">
			    {% for type in typologie.Niv4 %}
			    <option value="{{type.0}}"{% if type.0 in contexte_indicateur.typologies %} selected{% endif %}>{{type.1}}</option>
			    {% endfor %}
			 </optgroup>
			 <optgroup label="Niveau 5">
			    {% for type in typologie.Niv5 %}
			    <option value="{{type.0}}"{% if type.0 in contexte_indicateur.typologies %} selected{% endif %}>{{type.1}}</option>
			    {% endfor %}
			 </optgroup>
		</select>
		
	<button class="btn" id="typologie-deselect-all" alt="Déselectionner tout" title="Déselectionner tout">
		<i class="fas fa-times"></i>
	</button>	
	<button class="btn" id="typologie-select-all" alt="Sélectionner tout" title="Sélectionner tout">
		<i class="fas fa-check"></i>
	</button>
	
	</div>
	
	<div class="col-sm-4">
		<label class="control-label"><i class="fa fa-filter fa-lg"></i></label>
		<select class="selectpicker" name="selection-filtre" multiple {% if contexte_indicateur.config_active.type_bdd == 'DVF+' %}disabled{% endif %}>
			    {% for filtre in filtres %}
				<option value="{{filtre.0}}"{% if filtre.0 in contexte_indicateur.filtres %} selected{% endif %}>{{filtre.1}}</option>
			    {% endfor %}
		</select>
	<button class="btn" id="filtre-deselect-all" alt="Déselectionner tout" title="Déselectionner tout" {% if contexte_indicateur.config_active.type_bdd == 'DVF+' %}disabled{% endif %}>
		<i class="fas fa-times"></i>
	</button>	
	<button class="btn" id="filtre-select-all" alt="Sélectionner tout" title="Sélectionner tout" {% if contexte_indicateur.config_active.type_bdd == 'DVF+' %}disabled{% endif %}>
		<i class="fas fa-check"></i>
	</button>
	</div>
	
	<div class="col-sm-4">
	<label class="control-label"><i class="fas fa-question fa-lg"></i></label>
	<select class="selectpicker" name="selection-devenir" multiple {% if contexte_indicateur.config_active.type_bdd == 'DVF+' %}disabled{% endif %}>
		    {% for devenir in devenirs %}
			<option value="{{devenir.0}}"{% if devenir.0 in contexte_indicateur.devenirs %} selected{% endif %}>{{devenir.1}}</option>
		    {% endfor %}
	</select>
	
	<button class="btn" id="devenir-deselect-all" alt="Déselectionner tout" title="Déselectionner tout" {% if contexte_indicateur.config_active.type_bdd == 'DVF+' %}disabled{% endif %}>
		<i class="fas fa-times"></i>
	</button>	
	<button class="btn" id="devenir-select-all" alt="Sélectionner tout" title="Sélectionner tout" {% if contexte_indicateur.config_active.type_bdd == 'DVF+' %}disabled{% endif %}>
		<i class="fas fa-check"></i>
	</button>
	</div>	
	
	</div>
	
	
	<div style="margin: 8px;"></div>
		
    <div class="row">
       <div class="col-sm-6 col-sm-offset-3">
           <label class="control-label"><i class="fas fa-user-circle fa-lg"></i></label>
            <select class="selectpicker" data-width="95%" name="selection-perso" title="Choisir une condition personnalisée" multiple {% if contexte_indicateur.config_active.type_bdd == 'DVF+' %}disabled{% endif %}>
                <option value="A">filtre URBA4</option>
                <option value="B">filtre URBA4 2</option>
                <option value="C">filtre URBA4 3</option>
            </select>
       </div>
    </div>
	
 	</div>
 	
</div>

{% if contexte_indicateur.charger_indicateur %}

<div class="row page-header" id="resultats">
<form role="export_csv" method="post" action="{% url 'indicateur_v2:indicateurs_csv' %}">
           {% csrf_token %}<h3><i class="fa fa-search"></i> Résultats pour {{contexte_indicateur.titre|safe}}<small>
                	<a onclick="$(this).closest('form').submit()" alt="Export CSV" title="Export CSV">
        </form>	
		<span class="fa-stack fa-lg">
		<i class="fa fa-circle fa-stack-1x"></i>
		<i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
		</span>
		</a></small></h3>
</div>

<div class="alert alert-warning" role="alert"><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i>
Les indicateurs ou les résultats présentés ci-dessous donnent des tendances brutes, n'ayant pas 
fait l'objet de corrections ou d'analyses fines. Ils s'appuient sur une typologie qui peut comporter 
des erreurs de classification de certains biens (en particulier sur le non-bâti). Il est donc recommandé 
d'utiliser ces résultats avec prudence.
</div>

{% for i in contexte_indicateur.indicateurs %}
    <div class="panel panel-default">

        <div class="panel-heading">
	        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> {{i.nom}}</h3>
        </div>
        <div class="panel-body">
        	{% if i.graph %}
            <div class = "col-xs-12 col-sm-6 vcenter">
                <figure style="width: 480px; height: 250px;" id="{{i.idgraph}}"></figure>
            </div><!--
            --><div class = "col-xs-12 col-sm-6 vcenter">
                {{i.tableau|safe}}
            </div>
            {% else %}
            <i>Cet indicateur n'a pas pu être calculé.</i>
            {% endif %}
        </div>
    </div>
		  <script>
	   	 	 var data = {{i.graph|safe}};	   	 	 
    	 	 var chart = new xChart('{{i.type_graph}}', data, '#{{i.idgraph}}');
		  </script>
{% endfor %}

{% endif %}

<script type="text/javascript">

$("form").submit(function(){
	var params = [
					{name: 'typologies', value: $("select[name=selection-typologie]").val()},
					{name: 'indicateurs', value: $("select[name=selection-indicateur]").val()},
					{name: 'filtres', value: $("select[name=selection-filtre]").val()},
					{name: 'devenirs', value: $("select[name=selection-devenir]").val()},
					{name: 'annee', value: $("select[name=selection-annee]").val()},
					{name: 'an_min_max', value: $("select[name=selection-an-min-max]").val()},
					{name: 'perso', value: $("select[name=selection-perso]").val()},
				 ];
	$(this).append($.map(params, function (param) {
        return   $('<input>', {
            type: 'hidden',
            name: param.name,
            value: param.value
        })
    }));
	$("body").css("cursor", "wait");
});

// Selection / Déselection

$("[id$='-deselect-all']").click(function(e){
	e.preventDefault();
	var selecteur = 'selection-' + this.id.split("-")[0];
	$("select[name=" + selecteur + "]").selectpicker('deselectAll');	
});
      
$("[id$='-select-all']").click(function(e){
	e.preventDefault();
	var selecteur = 'selection-' + this.id.split("-")[0];
	$("select[name=" + selecteur + "]").selectpicker('selectAll');
	$("select[name=" + selecteur + "]").selectpicker('refresh');
});


$("select#departement").change(function(){
		$("body").css("cursor", "wait");
});
</script>

{% endblock %}
