{% extends "principal.html" %}
{% load staticfiles %}

{% block body %}

<div class="container">
    <div class="page-header text-left espace-titre">
        <h2><i class="fa fa-pencil-square-o"></i> Crédits</h2>
    </div>

	<div class="panel panel-default">
		<div class="panel-heading">
	        <h3 class="panel-title">Description</h3>
	    </div>
	    <div class="panel-body">
	    <p>AppDVF est une boîte à outils permettant une utilisation facilitée de la donnée DVF.</p>
	    <p>Il est composé de différents modules autonomes capables de construire ou d'exploiter 
	    des bases de données structurées selon les modèles DVF+ ou DV3F.</p>	     
	    </div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
	        <h3 class="panel-title">Version</h3>
	    </div>
	    <div class="panel-body">
	    <i class="fa fa-code-fork" aria-hidden="true"></i> Beta
	    </div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
	        <h3 class="panel-title">Licence applicable aux contenus de AppDVF</h3>
	    </div>
	    <div class="panel-body">
	    L'ensemble des contenus des différents modules de AppDVF est 
	    mis à disposition selon les termes de la 
	    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
	    Licence Creative Commons Attribution - Pas d’Utilisation Commerciale 4.0 International.
	    </a>
	    </div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
	        <h3 class="panel-title">Licence applicable au code source de AppDVF</h3>
	    </div>
	    <div class="panel-body">
	    <p>L'ensemble des codes sources de l'application AppDVF est sous les termes de la 
	    <a href="http://www.cecill.info/licences/Licence_CeCILL_V2.1-fr.txt">
	    Licence CeCILL.
	    </a></p>
	    <p>
	   Les données sources seront prochainement disponibles sur <a href="https://github.com/dvf-cerema/appdvf">Github</a>.
	    </p>
	    </div>
    </div>
    
    <div class="panel panel-default">
		<div class="panel-heading">
	        <h3 class="panel-title">Financement</h3>
	    </div>
	    <div class="panel-body">
		<p>L'application a été développée sous la maîtrise d'ouvrage de la DGALN.</p>
	    </div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
	        <h3 class="panel-title">Auteurs</h3>
	    </div>
	    <div class="panel-body">
	    <p>Ont participé au développement de AppDVF :</p>
	    <ul>
	    <li>Antoine Herman, Cerema Nord-Picardie</li>
	    <li>Magali Journet, Cerema Nord-Picardie</li>
	    <li>Bertrand Leroux, Cerema Méditerranée</li>
	    <li>Christine Alpin, Cerema Méditerranée</li>
	    <li>Jérôme Douché, Cerema Nord-Picardie</li>
	    </ul>
	    </div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
	        <h3 class="panel-title">Travaux en lien avec AppDVF</h3>
	    </div>
	    <div class="panel-body">
	    <p>L'application s'appuie sur un ensemble de travaux menés depuis 2013 autour de DVF et auxquels ont contribué :</p>
	    <ul>
	    <li>la DGALN en tant que financeur des travaux de constitution des bases DVF+ et DV3F,</li>
	    <li>le Groupe national DVF, notamment, en tant qu'élaborateur d'un guide DVF, du modèle de données partagé des données DVF et d'une typologie des biens,</li>
	    <li>l'EPF Nord-Pas-de-Calais en tant que financeur de travaux exploratoires d'enrichissement de DVF et élaborateur d'une segmentation théorique de changement d'usage,</li>
	    <li>la région PACA en tant que financeur de travaux exploratoires d'enrichissement de DVF,</li>
	    <li>Terres d'Europe-Scafr en tant que élaborateur d'une segmentation théorique de changement d'usage,</li>
	    <li>les services de l'Etat et directions territoriales du Cerema en tant que participant au comité technique DV3F.</li>
	    </ul>
	    </div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
	        <h3 class="panel-title">Remerciements</h3>
	    </div>
	    <div class="panel-body">
	    <p>Un grand merci aux personnes qui ont contribué par leurs remarques et leurs tests à améliorer AppDVF.</p>
	    </div>
	</div>
	
	<div class="panel panel-default">
	<div class="panel-heading">
        <h3 class="panel-title">Contact</h3>
    </div>
    <div class="panel-body">
    <p>Une seule adresse mail pour signaler un bogue, faire une suggestion ou encore apporter votre contribution : <a href="mailto:dv3f@cerema.fr">dv3f@cerema.fr</a></p>
    </div>
</div>

	

</div><!-- /.container -->

{% endblock %}
