{% extends "principal.html" %}
{% load staticfiles %}

{% block body %}

<div class="container">
    <div class="page-header text-left espace-titre">
        <h2><i class="fa fa-pencil-square-o"></i> Crédits</h2>
    </div>

	<div class="panel panel-default">
		<div class="panel-heading">
	        <h3 class="panel-title">Description</h3>
	    </div>
	    <div class="panel-body">
	    <p>AppDVF est un outil permettant une utilisation facilitée la donnée DVF.</p>
	    <p>Il comporte différents modules autonomes capables de construire ou d'exploiter 
	    des bases de données structurées selon les modèles DVF+ ou DV3F.</p>	     
	    </div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
	        <h3 class="panel-title">Version</h3>
	    </div>
	    <div class="panel-body">
	    <i class="fa fa-code-fork" aria-hidden="true"></i> 0.1 dev
	    </div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
	        <h3 class="panel-title">Développement</h3>
	    </div>
	    <div class="panel-body">
	    
	    </div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
	        <h3 class="panel-title">Licence</h3>
	    </div>
	    <div class="panel-body">
	    
	    </div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
	        <h3 class="panel-title">Contributions</h3>
	    </div>
	    <div class="panel-body">
	    
	    </div>
	</div>
	

</div><!-- /.container -->

{% endblock %}
