{% extends "principal.html" %}
{% load staticfiles %}

{% block body %}

<div class="container">
    <div class="page-header text-left espace-titre">
        <h2><i class="fa fa-pencil-square-o"></i> Crédits</h2>
    </div>

	<div class="panel panel-default">
		<div class="panel-heading">
	        <h3 class="panel-title">Description</h3>
	    </div>
	    <div class="panel-body">
	    <p>AppDVF est une boîte à outils permettant une utilisation facilitée de la donnée DVF.</p>
	    <p>Il est composé de différents modules autonomes capables de construire ou d'exploiter 
	    des bases de données structurées selon les modèles DVF+ ou DV3F.</p>	     
	    </div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
	        <h3 class="panel-title">Version</h3>
	    </div>
	    <div class="panel-body">
	    <i class="fa fa-code-fork" aria-hidden="true"></i> 0.1 dev
	    </div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
	        <h3 class="panel-title">Licence applicable aux contenus de AppDVF</h3>
	    </div>
	    <div class="panel-body">
	    L'ensemble des contenus des différents modules de AppDVF est 
	    mis à disposition selon les termes de la 
	    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
	    Licence Creative Commons Attribution - Pas d’Utilisation Commerciale 4.0 International.
	    </a>
	    </div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
	        <h3 class="panel-title">Licence applicable au code source de AppDVF</h3>
	    </div>
	    <div class="panel-body">
	    <p>L'ensemble des codes sources de l'application AppDVF est sous les termes de la 
	    <a href="https://www.gnu.org/licenses/gpl.txt">
	    Licence GNU GPL v3.
	    </a></p>
	    <p>
	   Les données sources seront prochainement disponibles sur <a href="https://github.com/">Github</a>.
	    </p>
	    </div>
    </div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
	        <h3 class="panel-title">Contributeurs</h3>
	    </div>
	    <div class="panel-body">
	    <ul>
	    <li>Antoine Herman, Cerema Nord-Picardie - Développement, Conception, Rédaction</li>
	    <li>Magali Journet, Cerema Nord-Picardie - Conception, Rédaction</li>
	    <li>Bertrand Leroux, Cerema Méditerranée - Développement, Conception, Rédaction</li>
	    <li>Jérôme Douché, Cerema Nord-Picardie - Développement, Relecture</li>
	    </ul>
	    </div>
	</div>
	

</div><!-- /.container -->

{% endblock %}
